@model OnlineLibrary.Models.ViewModels.InvoiceDetailViewModel
@{
    Layout = "~/Views/_AdminLayout.cshtml";
    int bookCount = 1;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết hóa đơn</title>
</head>

<body>
    <h2 style="display: flex; justify-content: center; margin-top: 10px">Chi tiết hóa đơn</h2>
	<div><b>Mã hóa đơn:</b> @Model.Invoice.InvoiceId</div>
	<div><b>Tên khách hàng:</b> @Model.IdentityUsers.UserName</div>
    <div><b>Ngày thanh toán:</b> @Model.Invoice.PaidDate</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">STT</th>
                <th scope="col" class="text-center">Tên sản phầm</th>
                <th scope="col" class="text-center">Hình ảnh</th>
                <th scope="col" class="text-center">Giá bán</th>
                <th scope="col" class="text-center">Mã ISBN</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InvoicesDetails)
            {
                <tr>
                    <th scope="row" class="text-center">@(bookCount++)</th>
                    <td class="text-center">@item.Books.BookName</td>
                    <td class="text-center"><img class="img-fluid" width="100px" height="100px" src="/img/books/@item.Books.BookPhoto" alt=""></td>
                    <td class="text-center">@item.Books.SellPrice</td>
                    <td class="text-center">@item.Books.BookISBN</td>
                </tr>
            }
        </tbody>
    </table>

</body>

</html>