@model OnlineLibrary.Models.ViewModels.InvoiceViewModel
@{
    Layout = "~/Views/_AdminLayout.cshtml";
    var invoiceCount = 1;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">STT</th>
                <th scope="col" class="text-center">Mã đơn hàng</th>
                <th scope="col" class="text-center">Tên khách hàng</th>
                <th scope="col" class="text-center">Tổng tiền</th>
                <th scope="col" class="text-center">Ngày thanh toán</th>
                <th scope="col" class="text-center">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Invoices)
            {
                <tr>
                    <th scope="row" class="text-center">@(invoiceCount++)</th>
                    <td class="text-center">@item.InvoiceId</td>
                    @foreach (var user in Model.IdentityUsers)
                    {
                        if(item.Id == user.Id)
                        {
                            <td class="text-center">@user.UserName</td>
                        }
                    }
                    <td class="text-center">@item.TotalValues</td>
                    <td class="text-center">@item.PaidDate</td>
                    <td class="text-center"><a href="">Chi tiết</a></td>
                </tr>
            }
        </tbody>
    </table>

    <script src="" async defer></script>
</body>

</html>