@model IEnumerable<OnlineLibrary.Models.Category>

@{
        Layout = "~/Views/_AdminLayout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
@*<div>
        <button type="button" class="btn btn-primary" style="align-items: center;"><a asp-action="Create">Create New</a></button>
</div>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.CategoryPhoto)
            </th>
                <th style="display: flex; justify-content: center;">
                    Trạng thái
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <img class="img-fluid" width="100px" height="100px" src="/img/cat/@item.CategoryPhoto" alt="">
            </td>
            <td style="display: flex; justify-content: center;">
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
